.styleLink {
    padding: 10px 16px;
    margin: 10px;
    cursor: pointer;
}

.styleLink:hover {
    background-color: var(--default-white-transparent-menu);
}

.styleLink:not(:last-child) {
    margin-bottom: 10px;
}